body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }

  /* for how long the text can open */
  .running_text {
    display: inline-block;
    animation: running_text 40s linear infinite;
    white-space: nowrap;
    text-align: left;
  }
  .running_text h1 {
    color: rgb(255, 11, 11);
    font-size: 15rem;
    font-weight: 700;
    text-shadow: -1px -1px white;
    text-transform: capitalize;
    padding: 0 50%;
  }
  @keyframes running_text {
    0% {
      transform: translate(100%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }

    /* for delay animation */
    div {
        animation: 3s infinite;
        animation-delay: 2s;
    }
  }